<%= form_with model: job ? [ company, job ] : [ company, company.jobs.build ] do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <% unless job.nil? %>
            <% job.errors.full_messages_for(:title).each do |message| %>  
                <%= message %>
            <% end %>  
        <% end %>
        
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
        <% unless job.nil? %>
            <% job.errors.full_messages_for(:description).each do |message| %>  
                <%= message %>
            <% end %>  
        <% end %>
    </div>

    <div>
        <%= form.label :income %>
        <%= form.text_field :income %>
    </div>

    <div>
        <%= form.label :level %>
        <%= form.select :level, ['Júnior', 'Pleno', 'Sênior'], selected: job ? "#{job.level}" : 'Júnior' %>
        <% unless job.nil? %>
            <% job.errors.full_messages_for(:level).each do |message| %>  
                <%= message %>
            <% end %>  
        <% end %>
    </div>

    <div>
        <%= form.label :limit_date %>
        <%= form.date_field :limit_date %>
        <% unless job.nil? %>
            <% job.errors.full_messages_for(:limit_date).each do |message| %>  
                <%= message %>
            <% end %>  
        <% end %>
    </div>

    <div>
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
        <% unless job.nil? %>
            <% job.errors.full_messages_for(:quantity).each do |message| %>  
                <%= message %>
            <% end %>  
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
<p><%= link_to 'Cancelar', companies_path %></p>