<%= form_with model: job.new_record? ? [company, job] : job do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <% job.errors.full_messages_for(:title).each do |message| %>  
            <%= message %>
        <% end %>  
    </div><br>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
        <% job.errors.full_messages_for(:description).each do |message| %>  
            <%= message %>
        <% end %>  
    </div><br>

    <div>
        <%= form.label :income %>
        <%= form.text_field :income %>
    </div><br>

    <div>
        <%= form.label :level %>
        <%= form.select :level, ['Júnior', 'Pleno', 'Sênior'], selected: job.level %>
        <% job.errors.full_messages_for(:level).each do |message| %>  
            <%= message %>
        <% end %>  
    </div><br>

    <div>
        <%= form.label :limit_date %>
        <%= form.date_field :limit_date %>
        <% job.errors.full_messages_for(:limit_date).each do |message| %>  
            <%= message %>
        <% end %>  
    </div><br>

    <div>
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
        <% job.errors.full_messages_for(:quantity).each do |message| %>  
            <%= message %>
        <% end %>  
    </div><br>

    <div>
        <%= form.submit %>
    </div><br>
<% end %>
<p><%= link_to 'Cancelar', job.new_record? ? company_page_path : job_path(job) %></p>