<%= form_with model: [ @company, @company.jobs.build ] do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <% @company.jobs.each do |j|  %>
            <% j.errors.full_messages_for(:title).each do |message| %>  
                <%= message %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
        <% @company.jobs.each do |j|  %>
            <% j.errors.full_messages_for(:description).each do |message| %>  
                <%= message %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :income %>
        <%= form.text_field :income %>
        <% @company.jobs.each do |j|  %>
            <% j.errors.full_messages_for(:income).each do |message| %>  
                <%= message %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :level %>
        <%= form.select :level, ['Júnior', 'Pleno', 'Sênior'], selected: 'Júnior' %>
        <% @company.jobs.each do |j|  %>
            <% j.errors.full_messages_for(:level).each do |message| %>  
                <%= message %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :limit_date %>
        <%= form.date_field :limit_date %>
        <% @company.jobs.each do |j|  %>
            <% j.errors.full_messages_for(:limit_date).each do |message| %>  
                <%= message %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
        <% @company.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
<p><%= link_to 'Cancelar', companies_path %></p>