<h1><strong>Detalhes da vaga de trabalho criada</strong></h1><br>

<p><strong>Título: </strong><%= @job.title %></p>
<p><strong>Descrição: </strong><%= @job.description %></p>
<p><strong>Level: </strong><%= @job.level %></p>
<p><strong>Quantidade: </strong><%= @job.quantity %></p>
<p><strong>Status: </strong><%= @job.status %></p>
<p><strong>Salário: </strong><%= @job.income %></p>
<p><strong>Data Limite: </strong><%= @job.limit_date %></p><hr>

<h3><strong>Lista de Candidatos aplicados</strong></h3>

<% @job.enrollments.each do |enrollment| %>
    <p><strong>Status: </strong><%= enrollment.status %></p>
    <p><strong>Nome Completo: </strong><%= enrollment.candidate.full_name %></p>
    <p><strong>Nome Social: </strong><%= enrollment.candidate.social_name %></p>
    <p><strong>Data de nascimento: </strong><%= I18n.l enrollment.candidate.birth_date %></p>
    <p><strong>CPF: </strong><%= enrollment.candidate.cpf %></p>
    <p><strong>Biografia: </strong><%= enrollment.candidate.biography %></p>
    <p><strong>Celular: </strong><%= enrollment.candidate.cel_number %></p>
    <p><strong>E-mail: </strong><%= enrollment.candidate.email %></p><hr>
<% end %>

<p><strong><%= link_to 'Voltar', companies_path %></strong></p>