<h1><strong>Detalhes da vaga de trabalho</strong></h1>

<div id="job-details-<%= @job.id %>" > 
    <p><strong>Título: </strong><%= @job.title %></p>
    <p><strong>Descrição: </strong><%= @job.description %></p>
    <p><strong>Level: </strong><%= @job.level %></p>
    <p><strong>Quantidade: </strong><%= @job.quantity %></p>
    <p><strong>Status: </strong><%= Job.human_enum_name(:status, @job.status) %></p>
    <p><strong>Salário: </strong><%= @job.income %></p>
    <p><strong>Data Limite: </strong><%= @job.limit_date %></p><hr>
</div>

<h2><strong>Lista de Candidatos aplicados</strong></h2><hr>

<% if @job.enrollments.any? %>
    <%= render @job.enrollments %>
<% else %>
    <p><h3>Não exitem candidatos matriculados para esta vaga até o momento</h3></p>
<% end %>

<p><strong><%= link_to 'Voltar', company_page_path %></strong></p>