<h1>Preencha justificativa para declinar o candidato</h1>

<%= form_with model: @enrollment, 
                url: declined_enrollment_path, 
                method: :patch do |form| %>
    <div>
        <%= form.label :reason %>
        <%= form.text_area :reason %>
        <% @enrollment.errors.full_messages_for(:reason).each do |message| %>
            <%= message %>
        <% end %>
    </div><br>
    
    <div>
        <%= form.submit "Declinar Candidato" %>
    </div>
<% end %><br>
<hr>
<%= link_to 'Voltar', job_path(@enrollment.job) %>