<h1><strong>Lista de vagas matriculadas</strong></h1>

<% @enrollments.each do |enrollment| %>
    <p><strong>Status da candidatura: </strong><%= Enrollment.human_enum_name(:status, enrollment.status) %></p>
    <% if enrollment.declined? %>
        <p><strong>Razão do declinio: </strong><%= enrollment.reason %></p>  
    <% end %>
    <p><strong>Empresa: </strong><%= enrollment.job.company.name %></p>
    <p><strong>Título: </strong><%= enrollment.job.title %></p>
    <p><strong>Descrição: </strong><%= enrollment.job.description %></p>
    <p><strong>Level: </strong><%= enrollment.job.level %></p>
    <p><strong>Salário: </strong><%= enrollment.job.income %></p>
    <p><strong>Quantidade: </strong><%= enrollment.job.quantity %></p>
    <p><strong>Data Limite: </strong><%= I18n.l enrollment.job.limit_date %></p>

    <% if enrollment.proposal %>
        <%= link_to 'Você tem uma proposta para esta vaga', proposal_path(enrollment.proposal) %>
    <% end %><hr>
<% end %>

<%= link_to 'Voltar', jobs_path %>