<h1>Detalhes da Candidatura</h1>

<div id="view-enrollment-<%= @enrollment.id %>">
    <p><strong>Status da Candidatura: </strong><%= @enrollment.status %></p>
    <p><strong>Nome Completo: </strong><%= @enrollment.candidate.full_name %></p>
    <p><strong>Nome Social: </strong><%= @enrollment.candidate.social_name %></p>
    <p><strong>Biografia: </strong><%= @enrollment.candidate.biography %></p>
    <p><strong>Data de nascimento: </strong><%= I18n.l @enrollment.candidate.birth_date %></p>
    <p><strong>CPF: </strong><%= @enrollment.candidate.cpf %></p>
    <p><strong>Celular: </strong><%= @enrollment.candidate.cel_number %></p>
    <p><strong>E-mail: </strong><%= @enrollment.candidate.email %></p><br><hr>

    <% if @enrollment.proposal %>
        <p><strong>Status da proposta: <%= @enrollment.proposal.status %></strong></p>
        <p><strong>Mensagem da empresa: </strong><%= @enrollment.proposal.message_from_company %></p>
        <p><strong>Salário: </strong><%= @enrollment.proposal.salary_proposal %></p>
        <p><strong>Data de início: </strong><%= I18n.l @enrollment.proposal.start_date %></p><hr>
        <% if not @enrollment.proposal.reason.blank? %>
          <p><strong>Justificatica do declinio: <%= @enrollment.proposal.reason %></strong></p>
        <% end %>

    <% elsif not @enrollment.declined? %>
        <p><%= link_to 'Declinar Candidatura', decline_enrollment_path(@enrollment) %></p><br>
        <p><%= link_to 'Criar Proposta', new_enrollment_proposal_path(@enrollment) %></p><br>  
    <% end %>  
    
    <p><%= link_to 'Voltar', job_path(@enrollment.job) %></p><br>
</div>

