<%= form_with model: company do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% company.errors.full_messages_for(:name).each do |message| %>
            <%= message %>
        <% end %>
    </div>

    <div>
        <%= form.label :address %>
        <%= form.text_field :address %>
        <% company.errors.full_messages_for(:address).each do |message| %>
            <%= message %>
        <% end %>
    </div>

    <div>
        <%= form.label :cnpj %>
        <%= form.text_field :cnpj %>
    </div>

    <div>
        <%= form.label :site %>
        <%= form.text_field :site %>
    </div>

    <div>
        <%= form.label :social_midia %>
        <%= form.text_field :social_midia %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>