<h1>Painel da empresa <%= link_to "#{@company.name}", edit_company_path(@company) %> </h1><br>
<% if @company.logo.attached? %>
    <p><%= image_tag(@company.logo, size: '200x100') %></p>
<% end %>
<p>Domínio <%= "#{@company.domain}" %></p><br>
<h3><%= link_to 'Cadastrar oferta de vagas', new_company_job_path(@company) %></h3>

<% if @company.jobs.any? %>
    <p><h2>Vagas Cadastradas</h2></p>
    <%= render @company.jobs %>
<% else %>
    <p><h3>Sem vagas cadastradas no momento</h3></p>
<% end %>






