<h1>Detalhes da proposta</h1>

<p><strong>Status da proposta: </strong><%= @proposal.status %></p>
<p><strong>Título da vaga: </strong><%= @proposal.enrollment.job.title %></p>
<p><strong>Mensagem da empresa: </strong><%= @proposal.message_from_company %></p>
<p><strong>Salário: </strong><%= @proposal.salary_proposal %></p>
<p><strong>Data de início: </strong><%= I18n.l @proposal.start_date %></p><hr>
<% if not @proposal.reason.blank? %>
  <p><strong>Justificatica do declinio: <%= @proposal.reason %></strong></p>
<% end %>
  
<% if candidate_signed_in? && @proposal.pending? %>
    <p><%= link_to 'Aceitar', 
           accept_proposal_path(@proposal),
           method: :patch,
           data: { confirm: "Confirmar data de início em #{I18n.l @proposal.start_date}" } %></p>
    <p><%= link_to 'Recusar', decline_proposal_path(@proposal) %></p>
<% end %>

<%= link_to 'Voltar', enrollments_path %>
